@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
/* Example CSS for positioning buttons to the top right */
.carousel .thumbs-wrapper {
  display: none; /* Hide thumbnails if necessary */
}

.carousel .carousel-status {
  display: none; /* Hide status indicators if necessary */
}

.carousel .control-arrow {
  top: 20px; /* Adjust as per your need */
}

.carousel .control-prev.control-arrow {
  left: auto;
  right: 10px; /* Adjust as per your need */
}

.carousel .control-next.control-arrow {
  right: 10px; /* Adjust as per your need */
}

