@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Inter', sans-serif;
}

.playIcon:hover,
.pauseIcon:hover {
  transition: all 100ms ease-in;
  fill: rgb(175, 171, 171);
}

.carousel-container {
  z-index: 1;
 }
 
 @media only screen and (min-width: 640px) {
   .carousel-container {
     width: calc(100vw - 270px);
   }
 }

 iframe{
  display: none;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #2a2a2a;
}
